<h1>{{title}}</h1>
<form action="/decks" method="POST">
  <label for="title">Deck Title:</label>
  <input type="text" id="title" name="title" required>
  <button type="submit" style="background-color: #116466; color: #ede0d4;">Create Deck</button>
</form>